<button class="btn btn-sm pull-right oc-register oc-conversion"
        ng-disabled="menuService.isDisabled('signup','out',this)"
        ng-click="doRegisterFirst()">sign up</button>
<button class="btn btn-sm pull-right oc-login"
        ng-disabled="menuService.isDisabled('signin','out',this)"
        ng-click="doLogin()">sign in</button>
<input tabindex=2
       class="oc-login-input pull-right"
       ng-enter="doLogin()"
       ng-disabled="menuService.isDisabled('password','out',this)"
       name="password"
       type="password"
       placeholder="password"
       ng-model="account.login.password"
       ng-focus="account.error.login=0"></input>
<input tabindex=1
       select-on-focus
       class="oc-login-input pull-right"
       ng-enter="doLogin()"
       ng-disabled="menuService.isDisabled('username','out',this)"
       type="text"
       name="username"
       placeholder="email"
       ng-model="account.login.email"
       ng-focus="account.error.login=0"></input>
<span class="oc-login-error select-on-focus pull-right" ng-show="account.error.login">
    <i class="oc-login-error-icon fa fa-warning"></i>{{ account.error.login }}
    <button ng-click="account.error.login=false" class="oc-login-error-close">X</button>
</span>