<button class="btn btn-sm pull-right oc-register oc-conversion"
        ng-show="account.plan.id<1"
        ng-click="pageUpgrade()">
        subscribe
</button>
<button class="btn btn-sm pull-right oc-logout" ng-click="doLogout()">
    log out
</button>
<span ng-if="account.plan.id>0" class="oc-welcome pull-right">welcome
    <b>{{ account.user.username }}</b>, you're plan is <b>{{ account.plan.name }}</b>
</span>
<span ng-if="account.plan.id==0" class="oc-welcome pull-right">welcome
    <b>{{ account.user.username }}</b>, you're not yet subscribed
</span>