<button class="btn btn-sm pull-right oc-register"
        ng-show="account.plan.id===1"
        ng-click="doUpgrade()">
    upgrade
</button>
<button class="btn btn-sm pull-right oc-logout" ng-click="doLogout()">
    log out
</button>
<span class="oc-welcome pull-right">welcome
    <b>{{account.user.username}}</b>, you're plan is
    <b>{{ account.plan ? account.plan.name : "NONE" }}</b>
</span>