<span ng-class="{ \'oc-select-wrapper\': ! general.logged }"
      ng-disabled="general.logged">
    <select class="oc-dropdown oc-strat-dropdown"
            ng-options="strat.name group by strat.optionDescription.symbol for strat in strategies track by strat.name"
            ng-disabled="general.logged"
            ng-change="doUpdatePositions()"
            ng-model="strategy"></select>
</span>