<label for="strike-selection" class="btn btn-sm" ng-disabled="general.logged||status.strikes">
    select
</label>
<input type="file" class="btn" id="strike-selection" accept=".json" ng-file-select="onFileSelect($files)"></input>