<label for="strike-selection" class="btn btn-sm" ng-disabled="menuService.isDisabledIn('strikes',this)">
    select
</label>
<input type="file" class="btn" id="strike-selection" accept=".json" ng-file-select="onFileSelect($files)"></input>