<button class="btn btn-sm oc-wide-button oc-buy"
        ng-disabled="menuService.isDisabled('whatif','in',this)"
        ng-hide="status.whatif"
        ng-click="doEnterWhatIf()">
    enter <i>what-if</i>
</button>
<button class="btn btn-sm oc-wide-button oc-sell"
        ng-show="status.whatif"
        ng-click="doExitWhatIf()">
    exit <i>what-if</i>
</button>