<div>
    <p>Dear <%- name %>,</p>
    <p>please click the link below in order to confirm your email address.
       In case you have not registered to IronCondorTrader© please ignore
       this email.</p>
    <p><a href="<%- link %>"><%- link %></a></p>
    <p>Your IronCondorTrader© Team</p>
    <p><small>This action was requested from IP address [<%- ip %>]</small></p>
</div>