<div style="<%- css %>">
    <p>Dear customer,</p>
    <p>you - or somebody else - entered this email address to change
       the password of your IronCondorTrader© account. If this is you
       than please click the link below to change your
       password. Otherwise just ignore this email.</p>
    <p><a href="<%- link %>"><%- link %></a></p>
    <p>If the link doesn't work, just copy and paste it into the address bar
       of your browser and hit enter.</p>
    <p>Your IronCondorTrader© Team</p>
    <p><small>This action was requested from IP address [<%- ip %>]</small></p>
</div>